{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Création d'un élève</h3></div>

                <div class="panel-body text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-2">

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                                <div class="form-group">
                                    {% set class = '' %}
                                    {% if not form.firstname.vars.valid %}
                                    {% set class = 'has-error' %}
                                    {% endif %}
                                    <input type="text" class="form-control" id="{{ form.firstname.vars.id}}" name="{{ form.firstname.vars.full_name }}" value="{{ form.firstname.vars.value }}" placeholder="Prénom" >

                                    {% do form.firstname.setRendered %}

                                    {% if not form.firstname.vars.valid %}
                                    {% for error in form.firstname.vars.errors %}
                                    <p class="help-block">{{ error.message }}</p>
                                    {% endfor%}
                                    {% endif %}

                                </div>

                                <div class="form-group">
                                    {% set class = '' %}
                                    {% if not form.lastname.vars.valid %}
                                    {% set class = 'has-error' %}
                                    {% endif %}
                                    <input type="text" class="form-control" id="{{ form.lastname.vars.id}}" name="{{ form.lastname.vars.full_name }}" value="{{ form.lastname.vars.value }}" placeholder="Nom">

                                    {% do form.lastname.setRendered %}

                                    {% if not form.lastname.vars.valid %}
                                    {% for error in form.lastname.vars.errors %}
                                    <p class="help-block">{{ error.message }}</p>
                                    {% endfor%}
                                    {% endif %}

                                </div>
                                <div class="form-group">
                                    {% set class = '' %}
                                    {% if not form.department.vars.valid %}
                                    {% set class = 'has-error' %}
                                    {% endif %}
                                    {{ form_row(form.department, {'attr':{'class':'form-control'}}) }}
                                    {% if not form.department.vars.valid %}
                                    {% for error in form.department.vars.errors %}
                                    <p class="help-block">{{ error.message }}</p>
                                    {% endfor%}
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Créer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
