{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Liste des élèves</h3></div>

                <div class="panel-body">

                    {% for student in students %}
                    <div class="row">
                        <p class="lead" ><a href="{{ path('getStudent', { 'numetud': student.id }) }}">{{ student.firstname }} {{ student.lastname }}</a></p>

                        <div class="col-md-offset-2">
                            <a href="{{ path('deleteStudent', { 'numetud' : student.id }) }}" class="btn btn-danger btn-sm" style="float:left;" role="button"><i class="fa fa-trash" style="color:white;"></i> Supprimer l'élève</a>
                            <a href="{{ path('editStudent', { 'numetud': student.id }) }}" class="btn btn-warning btn-sm" style="float:left;" role="button"><i class="fa fa-pencil" style="color:white;"></i> Modifier l'élève</a>
                        </div>
                    </div><hr>
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
